<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <display-name>employee_management_system</display-name>

  <!-- Landing servlet (serves as router or initial servlet) -->
  <servlet>
    <servlet-name>LandingServlet</servlet-name>
    <servlet-class>com.example.ems.LandingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandingServlet</servlet-name>
    <url-pattern>/landing</url-pattern>
  </servlet-mapping>
<!-- 
  Create account servlet
  <servlet>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>com.example.ems.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/create_acc</url-pattern>
  </servlet-mapping>

  Login servlet
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.ems.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping> -->

</web-app>
